### GRADLE ###
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
!tlk-ui/.vscode/
!tlk-ui/.vscode/extensions.json

### Logs ###
*.log

### OS junk ###
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

### Local env ###
.env
.env.*
!.env.example

### Markdown###
*.md
!README.md
!**/README.md

